__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/

local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

.DS_Store
Thumbs.db
desktop.ini
.project
.pydevproject
.settings/
node_modules/


